@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend+Tera:wght@200;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Tera', sans-serif;
    background-color: #9c1919;
}
.container{
    background-color: #ececec;
}
nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo img {
    width: 200px;
    height: 40px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    display: inline-block;
    text-shadow: 1.55px 1.5px rgba(0, 0, 0, .2);
    font-weight: 500;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover {
    color: #007E85;
    ;
}

.nav-item.active {
    color: #007E85;
    ;
    position: relative;
}

.nav-item.active::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007E85;

}

.logo-btn {
    color: #007E85;
    align-items: center;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.logo-btn button {

    width: 150px;
    height: 45px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -14%;
    background-color: #007E85;
    border: none;
    border-radius: 8px;
}

.mobile-menu {
    display: none;
}

.mobile-menu i {
    font-size: 30px;
}

.left-para {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
}
.doctor{
    position: absolute;
    top: -7px;
    width: 445px;
    right: -4px;
    z-index: 2;
}
.left-para-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    
}

.health {
    color: #007E85;
}

.brighter {
    color: #6EAB36;
}

.doctor-sec {
    position: relative;
    justify-content: flex-end;
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
    
}

.background {
    z-index: 1;
    width: 400px;
}
input.search-int {
    border-radius: 5px;
    border: 1px solid #007E85;
    padding: 8px;
}
input:hover{
    border: 2px solid #007E85 ;
}
.search-btn{
    width: 140px;
    height: 40px;
    color: #fff;
    background-color: #007e85;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.search-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 37px;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    border-radius: 6px;
    align-items: center;

}
.input{
    gap: 20px;
    display: flex;
}
.tag{
    border: 1px solid #007E85;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: right;
}
.toggle{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #007E85;
}
.para{
    display: flex;
    align-items: center;
    gap: 10px;
}
p{
    margin-bottom: 0 !important;
}
.our-pride{
    font-weight:500;
    padding: 30px 0px;
}
.patient-result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    margin-bottom: 30px;
}
.satisfaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;

}

.satisfaction p{
    color: #007E85;
    margin-bottom: 30px !important;
}
.operate-right img{
    width: 450px;
}
.operate-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.operate-left p{
    width: 80%;
    font-weight: 500;
    margin-bottom: 30px !important;
}
.operate-left h4{
    color: #007E85;
    margin-bottom: 20px;
}
.operate-left button{
    border: none;
    padding: 20px 30px;
    border-radius: 35px;
}
.get-started{
    background-color: #007E85;
}
.talk-to-sale{
    background-color: #fff;
}
.operate-btn{
    display: flex;
    gap: 20px;
}
.operate-right{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .logo-btn {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 992px){
    .doctor-sec{
        justify-content: center;
    }
    .doctor{
        right: 136px;
    }
}

@media screen and (max-width: 768px){
    .nav-li{
        display: none;
    }
    .doctor{
        right: 58px;
    }
    .search-button, .search-bar button ,.search-int{
        width: 100%;
    }
    .search-bar{
        gap: 20px;
        justify-content: center;
    }
    .input{
        width: 100%;
        gap: 10;
        flex-wrap: wrap;
    }
    .patient-result{
        justify-content: center;
    }
}

@media screen and (max-width: 545px){
    .doctor{
        right: 136px;
        width: 100%
    }
    .background{
        width: 100%;
    }
    
}

